
<div class="row">
	<div class="col-md-12 "></div>
	<img ng-src="img/Boliviajs-LOGO.png" style="max-width:350px" class="col-md-6 col-md-offset-4 ">
	<div class="col-md-12">
	   <h1 class="welcome" style="text-align:center"> Bienvenido a BoliviaJS 
	   	<small>La comunidad de Javascript Boliviana</small>
	   </h1>
	</div>
</div>


<div class="col-md-6 col-md-offset-3"> 
	<div twitter-timeline="592500459702718464" auto-resize="true" css-url="css/tweet.css" data-tweet-limit="20">Loading tweets...</div>
</div>